# Configuration de la base de données
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=suivi_contrat_pro
DB_USER=root
DB_PASSWORD=

# Configuration de l'envoi d'emails
# Pour Gmail, activer l'accès "applications moins sécurisées" ou utiliser un mot de passe d'application
# https://support.google.com/accounts/answer/185833

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=nisrineaida2@gmail.com
SMTP_PASSWORD=htlw uzvj rjcr hzpo

# Adresse d'expédition des emails
MAIL_FROM_ADDRESS=noreply@eilco.fr
MAIL_FROM_NAME="Suivi Contrat Pro - EILCO"
